.additional__title {
  margin-bottom: 36px;
  @include title (24px, 24px);
}

.additional__list {
  list-style: none;
  border-top: 1px solid #CDCDCD;
  margin-bottom: 34px;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #CDCDCD;
}

.additional__gift {
  background-color: $green;
  background-image: url(../../img/gift-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 289px;
  margin-bottom: 35px;

  padding-top: 186px;
  padding-left: 58px;
  padding-right: 61px;
  padding-bottom: 43px;
  text-align: center;
  color: #ffffff;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
}
