.btn {
  font-family: $oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 10px 44px;
  background-color: $green;
}
