.footer {
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: $light-grey;
  text-align: center;
}

.footer__logo {
  display: block;
  margin-bottom: 13px;
}

.footer__item {
  padding: 20px 0 16px;
  border-bottom: 1px solid #D9D9D9;
}

.footer__item--social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-item {
  margin: 0px 17px;
}

.footer__item--developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  @include text (16px, 20px);
  margin-top: -2px;
}
