.goods {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.goods__name {
  margin-bottom: 13px;
  @include uppertext(16px, 16px);
  grid-column: 1 / -1;
}

.goods__property {
  @include text(14px, 14px);
  margin-bottom: 16px;
}
.goods__property--price {
  text-align: right;
}

.goods__btn {
  grid-column: 1 / -1;
}
