.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 14px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    column-gap: 15px;
  }
}

.header__nav {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: 100%;
  display: block;

  @media (max-width: ($tablet-width - 0.1px)) {
    &--close {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
    justify-self: end;
    width: auto;
  }
}

.header__burger {
  @include zero-button;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
