.order__group {
  border: none;
  outline: none;
  padding-top: 20px;
  padding-bottom: 11px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + #{$mobile-padding} * 2);
    height: 1px;
    background-color: #D9D9D9;
    left: -$mobile-padding;
    bottom: 0px;
  }
}

.order__title {
  margin-bottom: 35px;
  @include title(24px, 26px);
}

.order__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.order__label {
  @include uppertext(16px, 18px);
  margin-right: 9px;
}

.order__field--radio ~ .order__label,
.order__field--checkbox  ~ .order__label {
  margin-right: 0;
  margin-left: 10px;
}

.order__field {
  @include uppertext(16px, 18px);
  border: 1px solid #E7E7E7;
  outline: none;
  padding: 13px 19px 12px 18px;
  background-color: #fff;
  flex-grow: 1;
}

// .order__field--radio {

// }
