.program {
  position: relative;

  &::before {
    content: "";
    width: 70px;
    height: 55px;
    position: absolute;
    transform: translate(1px, -9px);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 270px;
      height: 215px;
      right: 30px;
      transform: translate(0px, 0px);
      // background-color: red;
      background-position: center;
    }
  }

  &--slim::before {
    background-image: url("../../img/cat-slim.svg");
  }

  &--mass::before {
    background-image: url("../../img/cat-mass.svg");
    transform: translate(-9px, -6px);

    @media (min-width: $tablet-width) {
      transform: translate(0px, 10px);
    }
  }


}



.program__title {
  padding-left: 71px;
  font-family: $oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-left: 0px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

.program__text {
  @include text;
  padding-right: 10px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    border: none;
    margin-bottom: 48px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: -8px center;
    margin-left: 25px;

    transition: background-position 0.3s ease;
  }

  &:hover::after{
    background-position: 0px center;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
