.stats {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.stats__title {
  @include uppertext (24px, 24px);

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__desc {
  position: absolute;
  width: 87px;
  background-color: #eaeaea;
  bottom: -20px;
  text-align: center;

  @include text(12px,12px);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding: 0 8px;
    min-width: fit-content;
    bottom: -7px;

    & br {
      display: none;
    }
  }
}
