@mixin text ($size: 14px, $line: 18px) {
  font-family: $arial;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: $dark-grey;
}

@mixin title ($size: 36px, $line: 40px) {
  font-family: $oswald;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: #000000;
}

@mixin uppertext ($size:14px, $lineheight: 20px) {
  @include title ($size, $lineheight);
  text-transform: uppercase;
}

@mixin zero-button {
  font-family: inherit;
  border: none;
  padding: none;
  background-color: transparent;
}
